# Security and Configuration files
src/main/resources/application.properties
src/main/resources/application-docker.properties
src/main/resources/firebase-service-account.json

# IDE files
.idea/
*.iml
*.iws
*.ipr

# Build files
build/
out/
target/
*.class

# Logs
*.log

# OS files
.DS_Store
Thumbs.db